<!DOCTYPE html>
<html lang="en">
  <%- includes('includes/head')%>

  <body>
    <%- includes('includes/header')%>

    <main>
      <h2>Welcomef to your dashboard</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In ipsum
        officiis harum modi suscipit distinctio repellat quisquam veniam nobis
        perferendis vitae, aliquam mollitia unde! Corporis iusto veritatis nisi
        omnis quasi!
      </p>
    </main>

    <%- includes('includes/footer')%>
  </body>
</html>
