<!DOCTYPE html>
<html lang="en">
  <%- includes('includes/head')%>

  <body>
    <%- includes('includes/header')%>

    <main>
      <h3>Log In Page</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
        molestiae rem provident tenetur harum? Ipsa unde distinctio, eligendi
        esse quod ad reiciendis consectetur. Impedit dolorem voluptatum enim
        qui, magni ad.
      </p>
    </main>

    <%- includes('includes/footer')%>
  </body>
</html>
