<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h2><a href="/">Our Wonderful App</a></h2>
      <nav>
        <a href="/login">Login In</a>
      </nav>
    </header>

    <main>
      <h3>Log In Page</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus
        molestiae rem provident tenetur harum? Ipsa unde distinctio, eligendi
        esse quod ad reiciendis consectetur. Impedit dolorem voluptatum enim
        qui, magni ad.
      </p>
    </main>

    <footer>
      <small>&copy; Our Wonderful App</small>
    </footer>
  </body>
</html>
